# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
.fuse_hidden*

# Swift Package Manager
.swiftpm/
Package.resolved
.build/
Packages/

# CocoaPods (if ever added)
Pods/

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
fastlane/README.md

# macOS
.DS_Store

# Env / secrets
*.p8
GoogleService-Info.plist
.env
.env.*
